{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Vintage Adidas Sneakers</h1>
        <p class="lead text-body-secondary">
          MarketSquare brings you exquisite collection of the most 
          sought after Adidas Classic and Adidas Original sneakers 
          at unbeatable prices.</p>
        <p>
          <a href="/products" class="btn btn-primary my-2">Browse Collection</a>
          <a href="/contact" class="btn btn-secondary my-2">Make a Request</a>
        </p>
      </div>
    </div>
  </section>

  <div class="py-5">
    <div class="container">

      <div class="row">
        <div class="col text-center mb-3">
          <h3>Featured Sneakers</h3>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        {% for product in products %}

          {% include "tmpls/_product.html" %}

        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}