{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<div class="auth-form w-100 m-auto">

    <form method="post" action="/auth/passwords">

      <h1 class="h4 mb-3 fw-normal">Set a new password</h1>

      <div class="form-floating">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required value="{{ form.email if form.email else email }}">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating">
        <input name="password" type="password" class="form-control" 
          id="floatingPassword" placeholder="Password" minlength="8" 
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$" 
          required value="{{form.password}}">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-text">
        Password must have at least 1 upper case letter, 1 lower case letter, and 1 number.
        Minimum of 8 characters long.
      </div>

      <div class="form-floating">
        <input name="code" type="text" class="form-control" id="floatingCode" placeholder="Reset Code" pattern="\d{6,6}" required value="{{form.code}}">
        <label for="floatingCode">Reset Code</label>
      </div>

      <button class="btn btn-primary w-100 py-2 mb-3 mt-3" type="submit">Continue</button>

    </form>

</div>
{% endblock %}